@CHARSET "UTF-8";


div.clearfix {
	clear: both;
}

header {
	width: 100%;
	height: 75px;
	outline: dotted 2px orange;
}

div.left_nav {
	width: 20%;
	outline: solid 1px blue;
	height: 300px;
	float: left;
}

div.content {
	width: 80%;
	outline: dotted 1px blue;
	height: 300px;
	float: left;
}

footer {
	width: 100%;
	height: 75px;
	outline: dotted 2px green;
	
}