@CHARSET "UTF-8";

header {
	background-color: #707070;
}

body {

}

.clearfix {
	clear: both;
}


header {
	width: 100%;
	height: 75px;
	margin-bottom: 3px;
	color: #FFFFFF;
}


.a_head {
	text-align: left;
	padding: 14px;
}

a1 {
	font: normal 18px Source Sans Pro;
	}
a2 {
	font: normal 10px Myriad Pro;
	}


.left_nav {
	width: 18%;
	height: 300px;
	float: left;
	background-color: #FFA333;
	padding-top: 11px;
	color: #FFFFFF;
}

.nav_head {
	font: normal 14px Source Code Pro, Helvetica, Sans-Serif;
	padding-left: 11px;
}

.list {
	font: normal 13px Source Sans Pro;
	padding-left: 26px;
	padding-top: 6px;
	line-height: 24px;
	
}

.content {
	width: 82%;
	height: 300px;
	float: left;
	font: normal 12px Iowan Old Style, Helvetica, Sans-Serif;
	text-align: left;
}

#words {
	padding: 8px;
	padding-left: 12px; 
}


footer {
	width: 100%;
	height: 75px;
	outline: dotted 1px green;
	background-color: #FFF;
	
}